@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&display=swap');

/*RESET DO CSS*/
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Fira Sans', arial, sans-serif;
}

/*CLASSES GLOBAIS DO SITE*/
body {
    background-attachment: fixed;
    background-image: url(../images/background.jpg);
}

html {
    scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
}

::selection {
    background: purple;
    color: #fff;
}

::-moz-selection {
    background: purple;
    color: #fff;
}

.centerObject {
    margin-left: auto;
    margin-right: auto;
}

.conteudo {
    width: 1267px;
    height: inherit;
}

a:link,
a:visited,
a:active {
    color: #fff;
    text-decoration: none;
}

.shadow {
    box-shadow: 5px 15px 6px 2px rgba(0, 0, 0, 0.5);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*PADRONIZAÇÃO PARA OS TEXTOS DO SITE*/
h1 {
    color: #333333;
    font-size: 32px;
    padding: 30px;
    text-align: left;
    letter-spacing: 5px;
}

p {
    color: #130400;
    font-size: 18px;
    line-height: 1.5;
    padding-top: 5px;
    text-align: left;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
}

b {
    color: #130400;
}

/*SEÇÃO DO HEADER*/
#header {
    width: 100%;
    height: 80px;
    z-index: 10;
    position: fixed;
    background-color: #23272a;
}

#logo {
    width: 250px;
    height: 70px;
    float: left;
    margin-top: 5px;
    margin-right: 45px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/Logo-mobile.png);
}

#menuContainer {
    width: 390px;
    height: 65px;
    float: left;
    margin-top: 5px;
    margin-right: 130px;
}

#menu {
    width: 390px;
    height: 45px;
    padding-top: 10px;
}

.menuItens {
    width: 97px;
    height: 45px;
    float: left;
    color: #000;
    font-size: 15px;
    list-style: none;
    padding-top: 12px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
}

.menuItens:hover {
    color: #ffcc00;
}

#loginContainer {
    width: 442px;
    height: 65px;
    float: left;
    margin-top: 5px;
    /* margin-left: 10px; */
}

.textSessionLogin {
    width: 175px;
    height: auto;
    float: left;
    margin-right: 9px;
}

#loginContainer label {
    width: 150px;
    height: auto;
    color: #fff;
    display: block;
    font-size: 14px;
}

.inputLogin {
    width: 168px;
    padding: 8px;
    border: none;
    display: block;
    margin-top: 7px;
    font-size: 15px;
    color: #313131;
    border-radius: 5px;
    outline-color: #ffcc00;

    /* background-color: #00ad51; */
}

#botaoLogin {
    width: 65px;
    height: 36px;
    float: right;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    outline-color: #aa956f;
    background-color: #ec6100;
    border: 1px solid #fefefe;

}

/*SEÇÃO ICONES SOCIAIS*/

#containerLogo {
    width: 120px;
    min-height: 3730px;
    height: auto;
    right: 0px;
    position: absolute;
    padding-top: 100px;
}

#socialIcons {
    width: 50px;
    top: 90px;
    right: 25px;
    float: right;
    padding: 1px;
    transition: 0.5s;
    position: sticky;
    margin-top: 495px;
    margin-right: 55px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: -5px 5px 15px #99e9e5;
}

.imageRedeSocial {
    width: 42px;
    height: 40px;
    margin-top: 5px;
    margin-left: 3px;
    margin-bottom: 5px;
}

.imageRedeSocial:hover {
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    background-color: #130400;
    transform: translateX(-15px);
    box-shadow: 5px 15px 6px 2px rgba(0, 0, 0, 0.78);
}

/*SEÇÃO SLIDE-SHOW*/
#containerSlider {
    width: 1285px;
    height: 530px;
    padding-top: 100px;
}

#sliderShow {
    width: 100%;
    height: 430px;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: space-between;
}

#containerItems {
    width: 1285px;
    height: 430px;
    display: flex;
    overflow: hidden;
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item {
    width: 1285px;
    height: 430px;
    transition: all 2s;
}

.item:first-child {
    margin-left: -100%;
}

.item img {
    width: 1285px;
    height: 430px;
}

.buttonSliderAction {
    width: 5vw;
    height: 5vh;
    z-index: 1;
    color: #fff;
    display: flex;
    font-size: 30px;
    user-select: none;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 200px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ec6100;
    /* background-color: #00ad51; */
}

.buttonSliderAction:hover {
    color: #ffffff;
    cursor: pointer;
    transition: all 1s;
    background-color: #49464655;
}

/*SEÇÃO MENU SECUNDARIO*/
#secondaryMenu {
    width: 199px;
    height: auto;
    float: left;
    overflow: hidden;
}

.checkboxItem label {
    color: #fff;
    padding: 12px;
    display: block;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    /* border-radius: 5px; */
    background-color: #23272a;
    border-bottom: 1px solid #e2e2e2;
}

.checkboxItem label:hover {
    background-color: #ffcc00;
}

.checkboxItem ul {
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.4s linear;
}

.checkboxItem input {
    display: none;
}

.checkboxItem ul li a {
    width: 100%;
    height: auto;
    color: #333;
    padding: 10px;
    display: block;
    overflow: hidden;
    text-align: center;
    background-color: #fafafa;
    border-bottom: 2px solid #aaa;
}

.checkboxItem ul li a:hover {
    color: #fff;
    /* font-weight: bold; */
    transition: all 0.1s;
    background-color: #ffcc00;
}

.checkboxItem input:checked ~ ul {
    height: auto;
    max-height: 200px;
}

/*SEÇÃO BARRA DE PESQUISA*/

#containerSearch {
    width: 1282px;
    height: 170px;
    padding-left: 15.7%;
}

#search {
    width: 1082px;
    height: 180px;
    background-color: #f5f5f5;
}

input[type="search"] {
    width: 850px;
    border: none;
    padding: 13px;
    outline: none;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 130px;
    border: 1px solid #999;
    border-top-left-radius: 35px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.posicaoTitulo {
    width: 1080px;
    height: 99px;
}

/*SEÇÃO PROTUDOS*/

#produtos {
    width: 1285px;
    min-height: 250px;
    height: auto;
    overflow: hidden;
    border: 1px solid #fff;
    background-color: #f5f5f5;
}

#productContainer {
    width: 1282px;
    min-height: 250px;
    height: inherit;
}

.noProductsMessage {
    width: 100%;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold; 
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

.noProductsImage {
    width: 320px;
    height: auto;
    margin-bottom: 10px;
}

.noProductsMessage p {
    font-size: 20px;
    text-align: center;
}

/*CONFIGURAÇÃO DOS CARDS*/
.card,
.cardPromotion {
    width: 310px;
    min-height: 350px;
    height: auto;
    float: left;
    margin-top: 15px;
    margin-left: 14px;
    margin-right: 22px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.cardPromotion {
    margin: 28px;
}

.card:hover,
.cardPromotion:hover {
    transition: 0.5s;
    transform: translateY(-5px);
    box-shadow: 10px 5px 11px #999;
}

#parteProtudos {
    width: 1083px;
    height: inherit;
    float: left;
    margin-top: 10px;
}

.cardDescricao {
    width: 300px;
    min-height: 100px;
    height: auto;
    padding: 9px;
}

.informationCard {
    width: 100%;
    height: auto;
    padding: 2px;
    border-bottom: 1px solid #e5e5e5;
}

.cardsImagem {
    width: 100%;
    height: 160px;
    padding-left: 16%;
}

.cardsImagem img {
    width: 215px;
    height: 140px;
    margin-top: 10px;
    border-radius: 3px;
}

.precoAntigo,
.precoAtual {
    width: 50%;
    min-height: 80px;
    float: left;
    padding-top: 20px;
}

.precoAntigo p {
    color: red;
    font-size: 15px;
    text-decoration: line-through;
}

.precoAntigo b {
    color: red;
}

.precoAtual p {
    font-size: 21px;
}

/*CONFIGURAÇÃO DO CARD LOJAS*/
.storeCard {
    width: 369px;
    height: 150px;
    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.iconDescricao {
    width: 70px;
    height: 150px;
    float: left;
}

.imagemLojas {
    width: 45px;
    height: 45px;
    font-size: 11px;
    margin-top: 45px;
    margin-left: 9px;
}

.storeInformation p {
    padding: 15px;
    font-size: 15px;
    line-height: 24px;
}

/*CONFIGUIRAÇÃO BOTÕES DO CARD*/
.botaoProtudos {
    width: 115px;
    height: 40px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 13px;
    margin-top: 15px;
    font-weight: 700;
    margin-left: 165px;
    margin-bottom: 15px;
    border-radius: 25px;
    letter-spacing: 1px;
    background-color: #1c1c1c;
}

.botaoProtudos:hover {
    color: #b2b2b2;
    cursor: pointer;
    transition: 0.2s;
}

.botaoPromocao {
    width: 200px;
    height: 45px;
    color: #130400;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 700;
    margin-left: 50px;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    border: 1px solid #000;
    background-color: #fff;
}

.botaoPromocao:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    background-color: #130400;
}

/*SEÇÃO SOBRE A EMPRESA*/
#sobreEmpresa {
    width: 1285px;
    height: auto;
    border: 1px solid #fff;
    background-color: #fff;
}

#textoEmpresa {
    width: 1100px;
    height: auto;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

/*SEÇÃO PROTUDOS DESTAQUES*/
#destaques {
    width: 1285px;
    height: auto;
    background-color: #fff;
}

#containerDestaques {
    width: 1285px;
    height: auto;

}

.featuredCard {
    width: 250px;
    height: auto;
    /* float: left; */
     margin-top: 10px;
    margin-bottom: 10px;
}

.featuredCardImage {
    width: 178px;
    height: 178px;
   margin: 0 auto;
    border-radius: 200px;
    border: 1px solid #130400;
}

.featuredCardImage img {
    width: 100%;
    height: 100%;
    border-radius: 200px;
}

.tituloDestaque {
    width: 250px;
    height: 120px;
    padding-top: 15px;
    text-align: center;
}

.botaoDestaque {
    width: 178px;
    height: 50px;
    color: #000;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 50px;
    letter-spacing: 1.5px;
    background-color: #fff;
    border: 1px solid #ec6100;
}

.botaoDestaque:hover {
    color: #fff;
    background-color: #ec6100;
}

/*SEÇÃO PROMOÇÃO*/
#promocao {
    width: 1285px;
    height: auto;
    overflow-y: auto;
    background-color: #fff;
}

.containerPromocao {
    width: 1284px;
    min-height: 859px;
    height: auto;
    padding: 75px;
    overflow: hidden;
    padding-top: 5px;
    background-color: #f5f5f5;
}

/*SEÇÃO LOJAS FISICAS*/
#storeSection {
    width: 1285px;
    min-height: 550px;
    height: auto;
    overflow: hidden;
    background-color: #fff;

}

.textoLoja p {
    width: 1050px;
    margin-top: 15px;
    line-height: 40px;
    padding-left: 30px;
}

#positiontoadasLojas h1 {
    color: #00ad51;
    margin-top: 20px;
}

#containerLojas {
    width: 1282px;
    min-height: 500px;
    height: auto;
    padding: 50px;
    overflow: hidden;
}



/*SEÇÃO RODAPÉ*/
#footer {
    width: 100%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: #333;
}

#containerContatos {
    width: 1285px;
    height: 580px;
    padding-top: 20px;
}

#contatos {
    width: 1190px;
    min-height: 550px;
    height: auto;
    margin-top: 25px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #aa956f;
    background-color: #23272a;
}

#contatos h1 {
    color: #fff;
    padding-top: 10px;
    text-align: center;
}

.arrumaLayoutContatos {
    width: 380px;
    height: auto;
    float: left;
    padding: 15px;
    margin-left: 13px;
}

.campos {
    width: 350px;
    height: auto;
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px;
}

.campos p {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.campos input {
    width: 350px;
    padding: 3%;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    outline-color: #aa956f;
    border: 1px solid #000;
    background-color: #f5f5f5;
}

.campos input[type="radio"] {
    width: 30px;
    height: 15px;
}

.cadastroEntradaDeDados select {
    width: 350px;
    height: 30px;
    padding: 5px;
    outline-color: #aa956f;
}

.cadastroEntradaDeDados textarea {
    width: 350px;
    height: 140px;
    padding: 3%;
    resize: none;
    outline-color: #aa956f;
}

.enviar {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.enviar input {
    width: 150px;
    height: 40px;
    color: #fff;
    border: none;
    font-size: 17px;
    cursor: pointer;
    margin-top: -558px;
    border-radius: 5px;
    outline-color: #aa956f;
    background-color: #ec6100;
}

#containerPrivacidade {
    width: 100%;
    min-height: 85px;
    margin-top: 100px;
    background-color: #23272a;
}

#logoRodape {
    width: 150px;
    height: 80px;
    float: left;
    margin-left: 120px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(../images/logo.png);
}

#copyRight {
    width: 500px;
    height: 50px;
    color: #fff;
    font-size: 17px;
    padding-top: 20px;
    line-height: 25px;
    text-align: center;
}

/*Seção Botão Inicio*/
#btnTop {
    width: 50px;
    height: 50px;
    bottom: 0;
    z-index: 5;
    right: 20px;
    outline: none;
    display: none;
    position: fixed;
    margin-bottom: 1%;
    border-radius: 50px;
    border: 1px solid #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../icons/back-to-top.png);

}

#btnTop:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.85);
}
